@@include("header.html")
<body>
    
    <!-- Menu -->
    <div class="dashboard">
        <div class="container-menu">
            <div class="logo">Education <b>Tech</b><p>.</p></div>
            <ul class="block-link">
                <li class="links"><a href="index.html"><img class="c1" src="images/icon/1-icon.png" alt="">Главная</a></li>
                <li class="links"><a href="main-2.html"><img src="images/icon/2-icon.png" alt=""> Мои интересы</a></li>
                <li class="links"><a href="main-3.html"><img src="images/icon/3-icon.png" alt=""> Избранное</a></li>
                <li class="links"><a href="main-4.html"><img src="images/icon/4-icon.png" alt=""> Мой класс</a></li>
                <li class="links"><a href="main-5.html"><img src="images/icon/5-icon.png" alt=""> Достижения</a></li>
                
                
            </ul>
            <div class="footer-block">
                <div class="block"></div>
                <span>0</span>
                <div class="block-1">
                    <div class="name">{{ name }}</div>
                    <div class="rol">{{ level }}</div>
                </div>
            </div>
        </div>
    </div>


    <!-- Content -->
    <div class="main-container">
        <div class="main-content" style="height: auto;">
            <div class="block-title">
               <div class="head">
                    <div class="sub-title"><p>Достижения</p></div>
               </div>  
               
               <div class="notifications">
                <svg class="notifications-svg" width="20px" height="20px" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18 11V8C18 4.13401 14.866 1 11 1C7.13401 1 4 4.13401 4 8V11C4 14.3 1 15.1 1 17C1 18.7 4.9 20 11 20C17.1 20 21 18.7 21 17C21 15.1 18 14.3 18 11Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </div>
            </div>
            
        </div>
            
        <div class="achivments-contein">
            <div class="achivments-content">
                <div class="items-block">
                    <div class="block"><p>За подобающее поведение</p></div>
                </div>
                <div class="items-block">
                    <div class="block"><p>За активное участие в мероприятие</p></div>
                </div>
                <div class="items-block">
                    <div class="block"><p>За участие в конкурсе “Веселые старты”</p></div>
                </div>
                <div class="items-block">
                    <div class="block"><p>Ни единной четверки за месяц</p></div>
                </div>
            </div>
        </div>
        </div>
    </div>


    @@include("footer.html")

<!-- 
<div class="card-item">
    <div class="card-block">
        <div class="card-img"><img src="images/slide/slide-1.png" alt=""></div>
        <div class="card-text">
        <p class="text-1">Рейтинг бизнеса в интернете или как повысить доверия клиентов</p>
        <p class="text-2">От Education</p>
        <a href="#!">Узнать больше</a>
    </div>
</div>
 -->