@@include("header.html")
    <body>

        <div class="main-signin">
            <div class="main-signin__head">
                <p>РЕГИСТРАЦИЯ</p>
            </div>
            <div class="main-signin__middle">
                <div class="middle__form">
                    
                    <form method="POST">
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                    </form>
                    <form action="/index">
                        <input type="submit" value="Регистрация">
                    </form>

                </div>
            </div>

        </div>

    </body>
</html>