<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>EdTech</title>
    </head>
    <body>
        <form method="POST" action="">
            <input name="mail" type="mail" placeholder="Ваша почта"></input>
            <input name="name" type="text" placeholder="Имя"></input>
            <input type="submit" class="but" value="Submit">
        </form>

        <h1>It's work server!!!</h1>
        <form>
            <button onclick={{F}}>
                F
            </button>
        </form>
        <h2>Server time:{{time}}</h2>
    </body>
</html>
