<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/register.css" type="text/css">
    </head>
    <body>

        <div class="main-signin">
            <div class="main-signin__head">
                <p>РЕГИСТРАЦИЯ</p>
            </div>
            <div class="main-signin__middle">
                <div class="middle__form">
                    <input type="text" placeholder="Логин">
                    <input type="password" placeholder="Пароль">
                    <div class="main-signin__role">
                        <input type="radio" name="role" value="student" checked="checked"><span>Ученик</span><br>
                        <input type="radio" name="role" value="parent"><span>Родитель</span><br>
                        <input type="radio" name="role" value="teacher"><span>Учитель</span><br>
                    </div>
                    <input type="submit" value="Регистрация">
                </div>
            </div>

        </div>

    </body>
</html>